USE [ImpurityEmission]
GO
/****** Object:  Table [dbo].[ChemicalElements] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChemicalElements](
	[Id_element] [int] IDENTITY(1,1) NOT NULL,
	[Name_element] [nvarchar](30) NOT NULL,
	[Abbreviation] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_element] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentElements] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentElements](
	[Id_content] [int] IDENTITY(1,1) NOT NULL,
	[Id_elements] [int] NULL,
	[Id_phases] [int] NULL,
	[Id_points] [int] NULL,
	[Content_elements] [float] NULL,
	[Stocks_elements] [float] NULL,
 CONSTRAINT [PK_Content-Elements] PRIMARY KEY CLUSTERED 
(
	[Id_content] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phases] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phases](
	[Id_phase] [int] IDENTITY(1,1) NOT NULL,
	[Name_phase] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_phase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamplingPoints] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamplingPoints](
	[Id_point] [int] IDENTITY(1,1) NOT NULL,
	[Direction] [nvarchar](15) NULL,
	[Number_point] [int] NULL,
	[Distance] [real] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Year_sampling] [nvarchar](4) NULL,
 CONSTRAINT [PK_Sampling_Points] PRIMARY KEY CLUSTERED 
(
	[Id_point] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChemicalElements] ON 

INSERT [dbo].[ChemicalElements] ([Id_element], [Name_element], [Abbreviation]) VALUES (1, N'Кремний', N'Si')
INSERT [dbo].[ChemicalElements] ([Id_element], [Name_element], [Abbreviation]) VALUES (2, N'Алюминий', N'Al')
INSERT [dbo].[ChemicalElements] ([Id_element], [Name_element], [Abbreviation]) VALUES (3, N'Фтор', N'F')
SET IDENTITY_INSERT [dbo].[ChemicalElements] OFF
SET IDENTITY_INSERT [dbo].[ContentElements] ON 

INSERT [dbo].[ContentElements] ([Id_content], [Id_elements], [Id_phases], [Id_points], [Content_elements], [Stocks_elements]) VALUES (1, 1, 2, 1, 147.4, NULL)
INSERT [dbo].[ContentElements] ([Id_content], [Id_elements], [Id_phases], [Id_points], [Content_elements], [Stocks_elements]) VALUES (2, 1, 2, 2, 86.6, NULL)
INSERT [dbo].[ContentElements] ([Id_content], [Id_elements], [Id_phases], [Id_points], [Content_elements], [Stocks_elements]) VALUES (3, 1, 2, 3, 16.3, NULL)
GO
SET IDENTITY_INSERT [dbo].[ContentElements] OFF
SET IDENTITY_INSERT [dbo].[Phases] ON 

INSERT [dbo].[Phases] ([Id_phase], [Name_phase]) VALUES (1, N'Жидкая')
INSERT [dbo].[Phases] ([Id_phase], [Name_phase]) VALUES (2, N'Твёрдая')
INSERT [dbo].[Phases] ([Id_phase], [Name_phase]) VALUES (3, N'Растворимая')
SET IDENTITY_INSERT [dbo].[Phases] OFF
SET IDENTITY_INSERT [dbo].[SamplingPoints] ON 

INSERT [dbo].[SamplingPoints] ([Id_point], [Direction], [Number_point], [Distance], [Latitude], [Longitude], [Year_sampling]) VALUES (1, N'Северо-Запад', 1, 0.5, 52.194488, 104.078446, N'1996')
INSERT [dbo].[SamplingPoints] ([Id_point], [Direction], [Number_point], [Distance], [Latitude], [Longitude], [Year_sampling]) VALUES (2, N'Северо-Запад', 2, 1, 52.197321, 104.072488, N'1997')
INSERT [dbo].[SamplingPoints] ([Id_point], [Direction], [Number_point], [Distance], [Latitude], [Longitude], [Year_sampling]) VALUES (3, N'Северо-Запад', 3, 2, 52.204005, 104.062768, N'1996')
SET IDENTITY_INSERT [dbo].[SamplingPoints] OFF
ALTER TABLE [dbo].[ContentElements]  WITH CHECK ADD  CONSTRAINT [FK_ContentElements_ChemicalElements] FOREIGN KEY([Id_elements])
REFERENCES [dbo].[ChemicalElements] ([Id_element])
GO
ALTER TABLE [dbo].[ContentElements] CHECK CONSTRAINT [FK_ContentElements_ChemicalElements]
GO
ALTER TABLE [dbo].[ContentElements]  WITH CHECK ADD  CONSTRAINT [FK_ContentElements_Phases] FOREIGN KEY([Id_phases])
REFERENCES [dbo].[Phases] ([Id_phase])
GO
ALTER TABLE [dbo].[ContentElements] CHECK CONSTRAINT [FK_ContentElements_Phases]
GO
ALTER TABLE [dbo].[ContentElements]  WITH CHECK ADD  CONSTRAINT [FK_ContentElements_SamplingPoints] FOREIGN KEY([Id_points])
REFERENCES [dbo].[SamplingPoints] ([Id_point])
GO
ALTER TABLE [dbo].[ContentElements] CHECK CONSTRAINT [FK_ContentElements_SamplingPoints]
GO
